<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
 "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
 "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
 <session-factory>
<!-- !!!!!!!!!!!!,desbloqueia a criação de tabelas. -->
 <property name="hibernate.hbm2ddl.auto">create</property> 
 <!-- Database connection settings -->
 <!-- Set the Driver Class -->
 <property name="connection.driver_class">com.mysql.cj.jdbc.Driver</property>
 <!-- Set URL -->
 <property name="connection.url">jdbc:mysql://localhost:3306/medical</property>
 <!-- Set the user name -->
 <property name="connection.username">root</property>
 <!-- Set the password write the pwd you choose when installing MySQL -->
 <property name="connection.password">TrolhasDaAriosa1</property>
 <!-- Echo all executed SQL to stdout -->
 <property name="show_sql">true</property>
 <!-- Set the annotated classes (inform the complete namespace) -->
 <mapping class="com.upt.stdp.Symptom" />

 </session-factory>
</hibernate-configuration>